<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Todo With Vuejs</title>
    <script type="text/javascript">
      let token = localStorage.getItem('token')
      if (token == 'Fail' || token == null) {
        window.location.replace("/")
      }
    </script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->

    <!-- Latest compiled and minified JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->

    <link rel="stylesheet" type="text/css" href="style.css"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Redressed" rel="stylesheet">

  </head>

  <body class="body">

    <div id="app" class="container">
      <div class="container">
        <div class="">
          <form>
            <div class="form">

              <div class="form-group">
                <input ref="plant" type="text" class="form-control" placeholder="Input Plan Anda">
              </div>

              <button @click.prevent="buattodo" class="btn btn-default btn-lg btn-block buttonrounded"><b>Buat Todo</b></button>

            </div>
          </form>
        </div>
      </div>

      <div class="col-md-4">
        <h5>Selamat Datang di Todo Anda: </h5>
        <h5>Jika anda telah selesai memanage Todo Anda silahkan Logout</h5>
        <button @click.prevent="logout" class="btn btn-default btn-lg btn-block buttonrounded"><b>Logout</b></button>
      </div>

      <div class="col-md-8">
        <table class="table table-condensed">
          <tr>
            <th>Pilihan</th>
            <th>Plan</th>
            <th>Status</th>
            <th>Username</th>
            <th>Delete</th>
          </tr>
          <tr v-for="daftar in todo">
            <td v-if="daftar.status==true"><button class="red" @click="rubahstatustrue(daftar)">Change</button></td>
            <!-- <td v-if="daftar.status==true"><input type="checkbox" v-model="rubahstatustrue" checked ></td> -->
            <td v-else><button class="gold" @click="rubahstatusfalse(daftar)">Change</button></td>
            <td>{{daftar.plan}}</td>
            <td>{{daftar.status}}</td>
            <td>{{daftar.iduser[0].username}}</td>
            <td><button class="hapus" @click="hapus(daftar)">Hapus</button></td>
          </tr>
        </table>
      </div>


    </div>

    <script src="app.js"></script>

  </body>

</html>
